@page
@model FileOrganizer.WebUI.Pages.SearchModel

<form asp-page="Search" method="get">
    <select asp-for="PageSize" asp-items="Model.PageSizeSelectList"></select>
    <input type="submit" value="Search" />
</form>

<p>Found files: @Model.FileCount</p>

<div>
    @if (Model.PageCount > 1)
    {
        <p>Pages:</p>
        @for (int i = 0; i < Model.PageCount; i++)
        {
            <a asp-page="Search" asp-route-pageindex="@i" asp-route-pagesize="@Model.PageSize">
                @if (Model.PageIndex == i)
                {
                    <b> @(i + 1) </b>
                }
                else
                {
                    <span> @(i + 1) </span>
                }
            </a>
        }
    }
</div>

<div>
    @foreach (var file in Model.Files)
    {
        @await Component.InvokeAsync( "FileThumbnail", new { file = file } )
    }
</div>
