@page "/upload/{uploadId}"
@model FileOrganizer.WebUI.Pages.UploadResultModel

<p>Uploaded files: @Model.UploadDetails.Files.Count</p>

<p>
    Description:<br />
    @Model.UploadDetails.Description
    <br />
    Upload size: @Model.UploadDetails.UploadSize
</p>

@foreach (var file in Model.UploadDetails.Files)
{
<a asp-page="View" asp-route-fileid="@file.FileId.Value" class="thumb-link">
    <img width="250" src="@Model.GetThumbFilePath( file )" />
</a>
}
