@page
@inject MediatR.IMediator mediator

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>User name</th>
            <th>User full name</th>
            <th>Files</th>
            <th>Size</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in mediator.Send( new FileOrganizer.Domain.GetUploadBasicInfosQuery() ).Result )
        {
            <tr>
                <td><a asp-page="UploadResult" asp-route-uploadid="@item.Id">@item.Id</a></td>
                <td>@item.WhenUploaded</td>
                <td>@item.Uploader.Name</td>
                <td>@item.Uploader.DisplayName</td>
                <td>@item.FileCount</td>
                <td>@item.TotalSize</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
