@page "/user/view/{userName}"
@model FileOrganizer.WebUI.Pages.UserModel

@if (Model.Details is null)
{
    <p>User not found.</p>
}
else
{
    <p>User: <b>@Model.Details.User.Name</b></p>
    <p>Display name: <b>@Model.Details.User.DisplayName</b></p>
    <p>Email: <b>@(Model.Details.Email?.ToString() ?? "none")</b></p>
    <p>Registered: <b>@Model.Details.WhenCreated</b></p>
    <p>
        Roles:<br />
        @foreach (var role in Model.Details.User.Roles.Items)
        {
            <b>@role</b><br />
        }
    </p>

    <a asp-page="EditUser" asp-route-username="@Model.Details.User.Name">Edit</a>
}
