@page "/user/{userName}"
@model FileOrganizer.WebUI.Pages.UserModel

@if (Model.Details is null)
{
    <p>User not found.</p>
}
else
{
    <p>User: <b>@Model.Details.User.Name</b></p>
    <p>Display name: <b>@Model.Details.User.DisplayName</b></p>
    <p>Email: <b>@Model.Details.Email</b></p>
    <p>Registered: <b>@Model.Details.WhenCreated</b></p>
    <p>
        Roles:<br />
        @foreach (string role in Model.Details.User.Roles.Items)
        {
            <b>@role</b><br />
        }
    </p>
}
