@page "/view/{fileId}"
@model FileOrganizer.WebUI.Pages.ViewModel

@{ ViewBag.Title = "View"; }

<h2>@Model.FileDetails.Title</h2>

<p>
    Uploader: <a asp-page="User" asp-route-username="@Model.FileDetails.Uploader.Name"><b>@Model.FileDetails.Uploader.Name</b></a>
    <br />
    File size: @Model.FileDetails.FileSize
    <br />
    Description:<br />
    @if (Model.FileDetails.Description.IsEmpty)
    {
        <span>None</span>
    }
    else
    {
        <span>@Model.FileDetails.Description</span>
    }

    <br />
    Primary Date: @Model.FileDetails.PrimaryDateTime

    <br />

    <a asp-page="EditFileDetails" asp-route-fileid="@Model.FileDetails.FileId.Value">Edit File Details</a>
</p>

<img src="@Model.FilePath" />
